div
  strong.js-total_interviews
a.button--huge.button--cta href="https://survey.alphaobservatory.org/#{I18n.locale}/" title="AlphaObservatory survey" target="_blank" = t("ui.cta")
  =' t("ui.total")

