ruby:
  news = @lang == :it ? dato.home.news_it : dato.home.news_en

- content_for(:head)
  == dato_meta_tags(dato.home)

= partial "main-menu"
= partial "splash"
= partial "video"
= partial "newsfeed", locals: { news: news}

