ruby:
  news = @lang == :it ? dato.home.news_it : dato.home.news_en

- content_for(:head)
  == dato_meta_tags(dato.home)

= partial "partials/main-menu"
= partial "partials/splash"
= partial "partials/video"
= partial "partials/newsfeed", locals: { news: news}

