$aqua-color  : #4a9ca3
$cream-color : #fdf4d5
$black-color : #000
$petrol-color: #082e3d
$purple-color: #bd6982
$red-color   : #e31b23
$yellow-color: #fefcf3
$white-color : #fff

$base-body-color : #2c2e38
$light-body-color: #f8fafa

$light-bg-color: $yellow-color

$border-color : #d7d7d7
$alert-color  : #de0017
$notice-color : #079acc
$primary-color: $petrol-color

