---
title: Calcolo punteggio
---

javascript:
  $( document ).ready(function(){
    total = parseInt(getUrlParameter("p"));
    offline = getUrlParameter("offline") == 1 ? true : false;


    if( total >= 921 && total <=10000 ){
      t = "tipo7";
    }
    else if(total >= 10001 && total <=10700){
      t = "tipo6";
    }
    else if(total >= 521 && total <=920){
      t = "tipo5";
    }
    else if(total >= 431 && total <=520){
      t = "tipo4";
    }
    else if(total >= 21 && total <=430){
      t = "tipo3";
    }
    else if(total >= 0 && total <= 19){
      t = "tipo2";
    }
    else if(total == 20){
      t = "tipo1";
    }


    if(offline == false){
      document.location.href="/"+t
    }
    else{
      document.location.href="/"+t+"-offline"
    }

  })
