---
title: Alpha Observatory
---

javascript:
  var language = window.navigator.userLanguage || window.navigator.language;

  switch (language.substring(0,2)){
   case "it":
    l = "it"
    break;
   case "es":
    l = "es"
    break;

   default:
    l = "it"
    break;
  }
  window.location.href = "https://survey.alphaobservatory.org/" + l + "/"
