.header
  box-sizing: border-box

.header__logo
  display: inline-block
  vertical-align: middle
  img
    vertical-align: middle
    margin-right: 10px
    +at-breakpoint(lap)
      max-width: 100%

.header__inner
  position: relative
  margin-bottom: 50px

.header__nav
  text-align: right
.header__nav__item
  &:before
    margin: 0 2em
  a
    text-transform: uppercase
    text-decoration: none

.header__cta
  position: absolute
  right: 0
  top: 0
