.news-box
  width: 100% !important
  i
    color: #fff

.news-box__title
  height: 176px
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  a
    color: #fff
    text-shadow: #000 0px 0px 5px
