.social-box
.social-box__inner
  +padding-bottom(2)
.social-box__title
  text-align: center
  +font-size(beta)
  +vertical-padding(2)
.social-box__item
  background-color: $white-color
  border: 1px solid $primary-color
  color: $primary-color
  +font-size(40px)
  display: block
  text-align: center
  +padding(1)
  border-radius: 5%
  margin-bottom: 10px

  +at-breakpoint(lap)
    margin-bottom: 0

  &:hover
    color: $red-color

