.splash
  background-color: $aqua-color
  color: $white-color

.splash__inner
  position: relative
  margin-bottom: -60px

.splash__image
  position: relative
  top: -28px

.splash__claim
  +font-size(alpha)
  +center-vertically
  width: 50%
  text-shadow: 0px 0px 5px rgba(86, 84, 84, 0.85)

